.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-laravel {
    background-color: #282828;
}

.upload-details {
    height: 400px;
    width: 600px;
    border: 1px solid grey;
    float: right;
}

